@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

strong{
  font-weight: 500;
}

/* Utility */

.container{
  padding-inline: 50px;
}

.flex{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}


/* Navbar */

.navbar{
  background-color: rgb(0, 0, 0);
  padding-block: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  color:rgb(191, 255, 0);
  font-size: 40px;
}

.links{
  gap: 120px;
}

.nav-link{
  font-size: 20px;
  color: rgb(191, 255, 0);
  transition: 0.2s ease-in-out;
}

.nav-link:hover{
  color: white;
}

/* Exercise list */

.add-exercise-button{
  align-items: center;
  margin-top: 50px;
}

.add-exercise{
  padding-inline: 10px;
  padding-block: 5px;
  font-size: 20px;
  background-color: black;
  color: rgb(252, 252, 252);
  border-radius: 5px 5px;
}

.add-exercise:hover{
  color: rgb(191, 255, 0);
}

.add-exercise:active{
  box-shadow: 1px 1px 1px 1px rgb(191, 255, 0);;
}

.table{
  margin-top: 50px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid > span{
  padding: 8px 4px;
  text-align: center;
}

strong{
  background-color: black;
  color: rgb(191, 255, 0);
  padding-inline: 7px;
  border-radius: 5px 5px;
}

/* Edit Exercise */

.form-container{
  flex-direction: column;
  align-items: center;
  gap: 75px;
}

.form{
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 50%;
}

.form-group{
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}
.form-group > h4{
  font-weight: 300;
  font-size: 25px;
}

.form-group > input{
  height: 45px;
  font-size: 25px;
  font-weight: 300;
  padding-left: 10px;
  width: 300px;
}

.form-group > select{
  width: 300px;
  height: 45px;
  font-size: 25px;
  font-weight: 300;
  padding-left: 10px;
}

.header{
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.submit-button{
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  background-color: rgb(30, 29, 29);
  border: none;
  border-radius: 10px 10px;
  cursor: pointer;
}

.submit-button:active{
  box-shadow: 2px 2px 2px 2px black;
}

.submit-button:hover{
  color: rgb(191, 255, 0);;
}

/* Exercise */

.edit-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 110, 255);
  padding-inline: 7px;
  border-radius: 5px 5px;
}

.delete-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  padding-inline: 7px;
  border-radius: 5px 5px;
}

span{
  font-size: 20px;
  border-inline: 1px solid rgb(158, 158, 158);
}